.card-container {
    position: relative;
    overflow: hidden;

}

.card {
    position: relative;
    transition: transform 0.3s;
}

.card-container:hover .card {
    transform: scale(1.05);

}

.view-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    font-size: 1.5rem;
    font-weight: bold;
    transition: opacity 0.3s;

}

.card-container:hover .view-label {
    opacity: 1;
}