@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Lexend", sans-serif;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
}

body {
  background-color: #f5f5f5;
}

ul,
li {
  list-style: none;
}


@layer components {
  .btn-primary {
    @apply py-1 px-4 bg-primary-600 duration-300 ease-in text-white font-semibold rounded shadow-md hover:bg-green-700 focus:outline-none focus:ring focus:ring-violet-400 focus:ring-opacity-75;
  }

  .btn-secondary {
    @apply text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl   font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2;
  }

  .input-primary {
    @apply block w-full rounded-md border p-1.5 text-gray-900 shadow-sm sm:text-sm sm:leading-6
  }

  .label-primary {
    @apply block text-sm font-medium leading-6 text-gray-900
  }
}