@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Lexend", sans-serif;
}

/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}

ul,
li {
  list-style: none;
}


@layer components {

  .input-primary {
    @apply block w-full rounded-md border p-1.5 text-gray-900 shadow-sm sm:text-sm sm:leading-6 mt-2
  }

  .label-primary {
    @apply block text-sm font-medium leading-6 text-gray-900
  }

  .landing-container {
    @apply flex flex-col items-center justify-center h-screen
  }

  .landing-title {
    @apply text-4xl font-bold text-gray-900
  }

}