.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	border-bottom: 1px solid #eaeaea;
	background-color: white;
	position: sticky;
	width: 100%;

	.logo {
		font-size: 1.5rem;
		font-weight: 700;	
	}

	button {
		background-color: #333;
		color: white;
		padding: 0.5rem 1rem;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}
}